### 1) Create a series of three different colors

In [2]:
import numpy as np
import pandas as pd

colors = pd.Series(["Red", "Green", "Blue"])
print(colors)

0      Red
1    Green
2     Blue
dtype: object

### 2) View the series of different colors

In [3]:
print(colors)

0      Red
1    Green
2     Blue
dtype: object

### 3) Create a series of three different car types and view it

In [4]:
cartype = pd.Series(["Sedan", "Truck", "SUV"])
print(cartype)

0    Sedan
1    Truck
2      SUV
dtype: object

### 4) Combine the Series of cars and colors into a Data Frame

In [6]:
car_df = pd.DataFrame({
    "Car Type": cartype,
    "Color": colors})
print(car_df)

  Car Type  Color
0    Sedan    Red
1    Truck  Green
2      SUV   Blue

### 5) Find the different datatypes of the car data Data Frame

In [9]:
datatype = car_df.dtypes
print(datatype)

Car Type    object
Color       object
dtype: object

### 6) Describe your current car sales Data Frame using describe ()

In [10]:
description = car_df.describe()
print(description)

       Car Type Color
count         3     3
unique        3     3
top       Sedan   Red
freq          1     1

### 7) Get information about your Data Frame using info ()

In [12]:
information = car_df.info()
print(information)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car Type  3 non-null      object
 1   Color     3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
None

### 8) Create a Series of different numbers and find the mean of them

In [17]:
series = pd.Series([2,3,4,5,2,1,88])
print(series)

mean = series.mean()
print("\nMean of the number is:", mean)

0     2
1     3
2     4
3     5
4     2
5     1
6    88
dtype: int64

Mean of the number is: 15.0

### 9) Create a Series of different numbers and find the sum of them

In [18]:
series1 = pd.Series([3,5,7,3,3,6,10])
print(series1)

sum = series1.sum()
print("\nSum of numbers is:", sum)

0     3
1     5
2     7
3     3
4     3
5     6
6    10
dtype: int64

Sum of numbers is: 37

### 10) List out all the column names of the car sales Data Frame

In [21]:
columns = car_df.columns.to_list()
print(columns)

['Car Type', 'Color']

### 11) Find the length of the car sales Data Frame

In [25]:
length = len(car_df)
print(length)

# Another way with Shape

len = df.shape[0]
print(len)

3
3

### 12) Show the first 5 rows of the car sales Data Frame

In [26]:
car_df.head()

  Car Type  Color
0    Sedan    Red
1    Truck  Green
2      SUV   Blue

### 13) Show the first 7 rows of the car sales Data Frame

In [27]:
car_df.head(7)

  Car Type  Color
0    Sedan    Red
1    Truck  Green
2      SUV   Blue

### 14) Show the bottom 5 rows of the car sales Data Frame

In [28]:
car_df.tail()

  Car Type  Color
0    Sedan    Red
1    Truck  Green
2      SUV   Blue

### 15) Use. loc to select the row at index 3 of the car sales Data Frame

In [40]:
try:
    print(car_df.loc[3])

except KeyError:
    print("There is now value at row 3")

There is now value at row 3

### 16) Use. iloc to select the row at position 3 of the car sales Data Frame

In [41]:
try:
    print(car_df.iloc[3])

except IndexError:
    print("There is now value at row 3")

There is now value at row 3

### 17) Create a crosstab of the Make and Doors columns.

In [46]:
# Creating DataFrame of Make and Doors
data = {
    "Make": ['Toyota', 'Honda', 'Ford', 'Toyota', 'Ford', 'Honda', 'Toyota'],
    "Doors": [4, 4, 2, 4, 2, 4, 4]
}

df = pd.DataFrame(data)
print(df)

# Creating Crosstab
crosstab = pd.crosstab(df["Make"], df["Doors"])
print("\nCrosstab for the DataFrame will be:\n", crosstab)

     Make  Doors
0  Toyota      4
1   Honda      4
2    Ford      2
3  Toyota      4
4    Ford      2
5   Honda      4
6  Toyota      4

Crosstab for the DataFrame will be:
 Doors   2  4
Make
Ford    2  0
Honda   0  2
Toyota  0  3